.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 30% 70%;
}

.input {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20px;
  margin-top: 20px;
}

.add-section {
  background-color: #ffd700;
  height: 100vh;
}

* {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0px;
  padding: 0px;
}

.books {
  background-color: blanchedalmond;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: minmax(100px, auto);
  gap: 10px;
  height: 100vh;
}

.card {
  background-color: white;
  border: solid 1px black;
  border-radius: 20px;
  padding: 10px;
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 20px;
  height: 200px;
}


